/* components/Calendar.module.css */

.calendar {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin: 20px auto;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .days {
    display: flex;
    justify-content: space-around;
    background-color: #f0f0f0;
    padding: 5px 0;
  }
  
  .dayLabel {
    width: 100%;
    text-align: center;
    font-weight: bold;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }
  .emptySlot{
    color: rgba(171, 171, 171, 1);
    width: 100%;
    text-align: center;
    padding: 5px;
    cursor: pointer;
  }
  .Calendar_day__4unS_:hover {
    background-color: transparent !important;
    border-radius: 25px;
}
  .day {
    width: 100%;
    text-align: center;
    padding: 5px;
    cursor: pointer;
  }
  
  
  .day:hover {
    background-color: #f5f5f5;
    border-radius: 25px;
  }
  
  .button {
    background-color: #09987F;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
 
  .day.selected {
    background-color: #09987F; 
    color: #fff;
    border-radius: 25px; 
  }
 
  .day.afterSeven {
    background: rgba(232, 246, 239, 1);
    
    color: rgba(9, 152, 127, 1);
    border-radius: 25px; 
  }
  .day.beforeSeven {
    background: rgba(232, 246, 239, 1);

    color: rgba(9, 152, 127, 1);
    border-radius: 25px; 
  }
  .visible {
    display: block;
  }
  
  .hidden {
    display: none;
  }
  