@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: 'PolySans Median';
  src: url('/fonts/PolySans-Median.woff2') format('woff2'),
      url('/fonts/PolySans-Median.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* styles/globals.css */

.Calendar_day__4unS_:hover {
  background-color: transparent !important;
  border-radius: 25px;
}

body{margin: 0px;     background-color: #fefefe;font-family: 'Inter', sans-serif;}
.container {max-width: 1200px;margin: auto;padding: 0px 20px;}
header .hdr-inr {display: flex;align-items: center;justify-content: space-between;}
header {margin: 20px 0px; width:100%; height: 100px; line-height: 100px; top: 0; margin-top:0 ; position: fixed; z-index: 1000; transition:all ease 0.5s}
ul{list-style: none; padding: 0}
header .container {max-width: 1300px;}
.hdr-inr ul {display: flex;align-items: center;justify-content: center;}

.hdr-inr .menu-bar li.about a {
  color: #282E39; /* Set your desired color when header is not black */
}
.hdr-inr .icon-sec li a.about{
  color: #282E39;
}
/* .hdr-inr .icon-sec li.about a {

} */
.menu-bar .ftr-app .ftr-app-btn a{
  color: #fff;
}
.icon-sec li a.about{
  color: #282E39 !important;
}


.hdr-inr .menu-bar li a {font-family: 'Inter', sans-serif;font-size: 15px;line-height: 20px;text-decoration: inherit;font-weight: 500;margin: 0px 20px;}
.hdr-inr .icon-sec li a {font-family: 'Inter', sans-serif;color: #282E39;font-size: 15px;line-height: 20px;text-decoration: inherit;font-weight: 500;margin: 0px 0px 0px 10px;display: flex;align-items: center;    padding-right: 10px;}
.hdr-inr .icon-sec li a img {margin-right: 10px;}
.hdr-inr .icon-sec ul li:first-child {border-right: 1px solid #E7E7E7;}
.main-bnr {display: flex;align-items: center;justify-content: space-between; padding: 40px 0px}
.main-bnr .bnr-cnt {width: 40%;}
.main-bnr .bnr-img {width: 60%; position: relative}
.main-bnr .bnr-cnt h1 {font-family: 'PolySans Median';font-size: 80px;font-weight: 600;color: #282e39;line-height: 80px;margin-bottom: 40px;padding-right: 5%;}
.main-bnr .bnr-cnt h1 span {color: #09987f;}
.bnr-cnt p {color: #282E39;line-height: 35px;    font-family: 'Inter', sans-serif;font-size: 25px;font-weight: 500;margin: 0px;}
.main-bnr .bnr-cnt a.pay-btn {background-color: #282E39;width: 188px;height: 60px;display: inline-block;margin-top: 40px;line-height: 60px;text-align: center;font-size: 18px;color: #fff;font-family: 'Inter', sans-serif;font-weight: 500;text-decoration: inherit;border-radius: 50px;}
.main-bnr .bnr-cnt a.manage-btn {background-color: #E8F6EF;margin-top: 40px;width: 213px;height: 32px;line-height: 32px;border-radius: 20px;padding: 0px 20px;color: #09987F;font-family: 'Inter', sans-serif;font-weight: 600;text-align: center;text-decoration: inherit;display: flex;align-items: center;}
.main-bnr .bnr-cnt a.manage-btn img {margin-left: 10px;}
.main-bnr .bnr-img img.img3 {position: absolute;top: -35px;left: 50%;    width: auto;}
.main-bnr .bnr-img img.img2 {position: absolute;bottom: 30px;right: 60px;    width: auto;}
.main-bnr .bnr-img img.img1 {position: absolute;bottom: 16px;    width: auto; left: 15px}
.bnr-img img{width: 100%}
.menu-bar li:hover a,.hdr-inr .icon-sec li a:hover {color: #09987F !important;transition: all ease 0.5s;}
.main-bnr .bnr-cnt a.pay-btn:hover {background-color: #29a590;}
.icon-sec-div{margin: 60px 0px;display: flex;align-items: center;justify-content: space-between;}
.icon-sec-div .icon-main {background-color: #E8F6EF;width: 25%;text-align: center;padding: 30px;}
.icon-sec-div .icon-main:nth-child(even) {background-color: #09987F;}
.icon-sec-div .icon-main img {height: 150px;object-fit: contain;width: 210px; margin: auto;}
.icon-sec-div .icon-main p {min-height:80px;font-size: 18px;color: #282E39;    font-family: 'Inter', sans-serif;margin-top: 20px;font-weight: 700;}
.icon-sec-div .icon-main:nth-child(even) p {color: #fff;}
.how-it-work {padding: 80px 0px 20px;display: block;}
.wek-main {display: flex;align-items: flex-start;justify-content: space-between;}
.wek-main .wrk-left, .wek-main .wrf-right{width: 50%;}
.how-it-work .how-work-title h2 {    font-family: 'PolySans Median';font-size: 60px;font-weight: 700;color: #282e39;line-height: 90px;margin-bottom: 80px;}
.how-it-work .how-work-title h2 span {color: #09987f;}
.how-it-work .wrk-left ul li h6 {    text-transform: uppercase;    font-family: 'Inter', sans-serif;font-size: 14px;font-weight: 700;color: #282E39;margin: 0px;opacity: 0.6;}
.how-it-work .wrk-left ul li h4 {    font-family: 'Inter', sans-serif;color: #282E39;font-weight: 500;font-size: 23px;opacity: 0.6;}
.how-it-work .wrk-left ul li p {color: #282E3999;    font-family: 'Inter', sans-serif;margin: 0px;font-size: 16px;font-weight: 400;opacity: 0.6;}
.how-it-work .wrk-left ul li {margin-bottom: 50px;padding-bottom: 50px;border-bottom: 1px solid rgba(40,46,57,0.2);width: 90%; position: relative}
.how-it-work .wrk-left ul li:hover h6 {color: #09987F;  opacity: 9; }
.how-it-work .wrk-left ul li:hover h4 {opacity: 9;}
.how-it-work .wrk-left ul li:hover p {color: #282E39;}
.wek-main .wrf-right .wrk-detail {box-shadow: 0px 23.852190017700195px 83.48267364501953px -19.08175277709961px #0000001F;
  height:508px;width: 67%;margin: auto;border: 1px solid #EAEAED;padding: 24px 30px;border-radius: 20px;background-color: #fff;    position: relative;}
.wek-main .wrf-right .wrk-detail .wrk-detail-hdr {display: flex;align-items: center;}
.wek-main .wrf-right .wrk-detail .wrk-detail-hdr img {margin-right: 10px;}
.wek-main .wrf-right .wrk-detail .wrk-detail-hdr p {font-size: 11px;color: #7E8288;font-weight: 500;}
.wek-main .wrf-right .wrk-detail .wrk-blnce {display: flex;align-items: center;justify-content: space-between;}
.wek-main .wrf-right .wrk-detail .wrk-blnce h3 {color: #282E39;font-size: 19px;font-weight: 700;margin: 0px;}
.wek-main .wrf-right .wrk-detail .wrk-blnce {display: flex;align-items: self-end;justify-content: space-between;margin: 20px 0px;border-bottom: 1px solid rgba(40,40,50,0.2);    padding: 0px 0px 0px;}
.wek-main .wrf-right .wrk-detail .wrk-blnce p {margin: 0px 0px 0px;color: #7E8288;font-size: 12px;font-weight: 400;line-height: 20px;}
.wek-main .wrf-right .wrk-detail .wrk-blnce .blnce h4 {color: #282E39;font-size: 24px;font-weight: 600;margin: 0px;}
.check-blnce h4 {    margin-bottom: 10px;color: #282E39;font-size: 19px;font-weight: 700;}
.blnk-in {display: flex;position: relative;padding-left: 35px;margin-bottom: 12px;cursor: pointer;font-size: 22px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;align-items: center;    border: 1px solid #EAEAED;padding:10px 0px 10px 60px;border-radius: 10px;}
.blnk-in h5 {margin: 0px;color: #282E39;font-weight: 700;font-size: 15px;}
.blnk-in h5 span {display: block;font-size: 12px;font-weight: 400;color: #7E8288;}
.check-blnce label.blnk-in img {margin-right: 20px;}
.blnk-in input {position: absolute;opacity: 0 !important;cursor: pointer;left: 10px; top:10px;}
.wrk-left lottie-player	{border-radius:10px !important}

/* @keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */


.blnk-in input:checked ~ .checkmark.apply-styles {
  background-color: transparent !important;
  background-image: url(/images/Ellipse93.png) !important;
  background-size: cover;
  background-repeat: no-repeat;
  animation: fadeIn 1s ease 2s; /* Adjust the animation duration and delay as needed */
  border: 0;
}
/* .step:after {
  content: '';
  width: var(--width, 0);
  height: 1px;
  background-color: #09987F;
  position: absolute;
  bottom: 0;
  opacity: 6;
  transition: width 5s;
}  */

 /* .step.active:after {
  width: 100%;
} 

 .step.reset:after {
  width: 0%;
  transition: none;
} */
 header.scrolled {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 99999;
    height: 100px;
    line-height: 100px;
    top: 0;
    margin-top: 0;
    transition: all ease 0.5s;
    right: 0;
    left: 0;
} 


header.scrolled.other-header .menu-bar li a, header.scrolled.other-header .icon-sec li a {
    color: #0c1d1a;
}
header.scrolled.other-header .menu-bar li.active a{
  color: #09987f;
}
header.scrolled.other-header .menu-bar li a, header.scrolled.other-header .icon-sec a{
  color: #0c1d1a;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}
.checkmark {position: absolute;top: 20px;left: 10px;height: 25px;width: 25px;    border: 1px solid #B0B0C0;border-radius: 50%;}
.blnk-in:hover input ~ .checkmark {background-color: #ccc;}
.checkmark:after {content: "";position: absolute;display: none;}
.blnk-in input:checked ~ .checkmark:after {display: block;}
.how-it-work .wrk-left ul li:after {content: '';width: var(--width, 0);height: 1px;background-color: #09987F;position: absolute;bottom: 0;opacity: 0;transition: width 5s; }
.how-it-work .wrk-left ul li:hover:after {opacity: 0}
.app-main-sec {background-color: #E8F6EF;display: flex;align-items: center;justify-content: space-between;border-radius: 20px;margin: 80px 0px;padding: 40px;}
.app-left-sec {display: flex;align-items: center;}
.app-left-sec h4 {color: #282E39;font-weight: 500;font-size: 25px;margin-left: 20px;}
.app-left-sec h4 span {display: block;font-size: 18px;line-height: 40px;font-weight: 500 !important;color: #7E8288;}
.app-right-sec {display: flex;}
.app-right-sec a {display: flex;align-items: center;height: 50px;width: 147px;background-color: #09987F;line-height: 50px;text-align: center;justify-content: center;margin-left: 20px;border-radius: 40px;font-weight: 500;text-decoration: inherit;color: #fff;font-size: 16px;}
.app-right-sec img {margin-right: 10px;}
.app-right-sec a:hover{background-color: #000; }
.slider1 {width: 100%;left: 50%;  transform: translateX(-50%);position: relative;overflow: hidden;}
.logo-sec .slick-track {display: flex;}
.logo-sec {margin: 80px 0px;}
.logo-sec h2 {color: #282E39;font-size: 30px;font-weight: 600;text-align: center;margin-bottom: 50px;}
.logo-sec .slider1 img {width: 140px !important;text-align: center;margin: auto;height: 40px;object-fit: contain !important;}
.logo-sec .slider1 .slick-slide {text-align: center;}
.logo-sec .slider1 button.slick-arrow {display: none !important;}
.frm-detail {background-color: #E8F6EF;display: flex;justify-content: space-between;align-items: center;}
.frm-detail .frm-left {max-width: 480px;margin: auto;}
.frm-detail .frm-left h3 {color: #282E39;font-size: 30px;font-weight: 600;margin: 0px 0px 10px;}
.frm-detail .frm-left p {    margin-bottom: 30px;color: #7E8288;font-size: 18px;line-height: 26px;font-weight: 400;}
.frm-detail .frm-left form input {height: 50px;width: 65%;display: block;border: 0px;margin-bottom: 20px;padding: 13px 0px 13px 12px;border-radius: 12px;color: #7E8288;font-size: 14px;font-weight: 400;}
.frm-detail .frm-left form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #7E8288;
}
.frm-detail .frm-left form input::-moz-placeholder { /* Firefox 19+ */
  color: #7E8288;
}
.frm-detail .frm-left form input:-ms-input-placeholder { /* IE 10+ */
  color: #7E8288;
}
.frm-detail .frm-left form input:-moz-placeholder { /* Firefox 18- */
  color: #7E8288;
}



.frm-right-img {line-height: 0; width: 50%}
.frm-right-img img {width: 100%}
.frm-detail .frm-left form button {background-color: #09987F;border: 0px;height: 54px;width: 33%;border-radius: 50px;font-weight: 600;font-size: 18px;color: #fff;cursor: pointer;}
.frm-detail .frm-left form button:hover{background-color: #000;}
footer {background-color: #0B1C19;padding: 80px 0px 40px;}
.ftr-title h2 {    font-family: 'PolySans Median';color: #FFFFFF;text-align: center;font-size: 60px;font-weight: 600;margin: 0px;}
.ftr-title span {color: #09987F;}
.ftr-app {display: flex;align-items: center;justify-content: space-between;border-top: 1px solid #193833;padding-top: 80px;}
.ftr-logo p {font-size: 16px;font-weight: 400;color: #fff;margin: 5px 0px;}
.ftr-app-btn {display: flex;width: 26%;}
.ftr-app-btn a {height: 50px;border: 1px solid #fff;display: flex;align-items: center;justify-content: center;width: 100%;margin-left: 10px;border-radius: 40px;text-decoration: inherit;color: #fff;font-weight: 600;font-size: 16px;}
.ftr-app-btn a img {margin-right: 3px;}
.ftr-btm {display: flex;align-items: center;justify-content: space-between;margin-top: 40px;}
.ftr-link ul {display: flex;margin: 0px;}
.ftr-link ul li a {    font-family: 'Inter', sans-serif;font-size: 16px;font-weight: 400;color: #fff;text-decoration: inherit;margin-right: 12px;opacity: 0.5;}
.copy-right p {font-size: 16px;font-weight: 400;color: #fff;  opacity: 0.5;}
.ftr-app-btn a:hover {background-color: #09987f;}
.ftr-link ul li a:hover {color: #09987f; opacity: 9}
.mbl{display: none}
.toggle {display: none;}
.how-it-work .wrk-left ul li.active h6 {
  color: #09987f; /*  Add your desired active state styling */
  opacity: 9;

}
.how-it-work .wrk-left ul li.active h4 {
  color: #282E39; /* Add your desired active state styling */
  opacity: 9;
}
.how-it-work .wrk-left ul li.active p {
  color: #282E39;
  
}
.how-it-work .wrk-left ul li.active:after {
  color: #09987f;
  opacity: 9;
  width: 100%; 
}
.how-it-work .wrk-left ul li.reset:after {
  width: 0%;
  transition: none;
}
/* .how-it-work .wrk-left ul li.active.reset:after {
    width: 0%;
    transition: none;
}   /* Disable transition during the reset */
 
.hdr-inr .menu-bar li.active a {
  color: #09987f;
  opacity: 9;
}

.check-blnce label.blnk-in:last-child.apply-styles {
  border: 2px solid #09987f;
  background-color: #e8f6ef;
  
}
.check-blnce label.blnk-in:last-child.apply-styles h5 span {
  color: #282E39;
}
.bar ul li {
  position: relative;
}
.bar ul li:first-child:after{
  display: none;
}
.bar ul li span:after {
  content: '';
  height: 24px;
  width: 24px;
  position: absolute;
  border: 2px solid #09987F;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 30px;
}
.bar ul li:first-child p:first-child {
  font-weight: 700;
}
.bar ul li:first-child p {
  color: #282E39;
}
.banner-sec {
  margin-top: 140px;
}


/****************Dashboard*****************/
.dashborad {
  display: flex;
}
.dashborad lottie-player#firstLottie {
  border-radius: 20px;
  border: 1.509px solid #09987F;
  background: #FFF;
  box-shadow: 0px 24.139px 40.734px 0px rgba(11, 28, 25, 0.08);
  height: 200px !important;
  width: 100% !important;
  overflow: hidden;
}
.dashborad .leftside-bar {
  background-color: #F9F9FC;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 30%;
  padding: 20px;
}
.leftside-bar ul li span {
  color: #7E8288;
  font-size: 16px;
  font-weight: 600;
  padding-left: 13px;
  font-family: 'Inter', sans-serif;
}
.leftside-bar ul li {
  padding-top: 32px;
  display: flex;
  align-items: center;
}
.dashborad .rightside-bar {
  width: 80%;
  padding: 20px;
}
.dashborad .rightside-bar .user-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 71px;
}
.dashborad .rightside-bar .user-detail .usr-tool ul {
  display: flex;
  align-items: center;
}
.dashborad .rightside-bar .user-detail .usr-tool ul li a {
  display: flex;
  align-items: center;
  margin-left: 20px;
  color: #B3B4B6;
  font-size: 12px;
  font-weight: 700;
  text-decoration: inherit;
  font-family: 'Inter', sans-serif;
}

.dashborad .rightside-bar .user-detail h4 {
  color: #282E39;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
}

.dashborad .rightside-bar .user-detail .usr-tool ul li a span {
  margin-left: 10px;
}
.dashborad .rightside-bar .blce-detail ul {
  display: flex;
  align-items: center;
}
.dashborad .rightside-bar .blce-detail li {
  width: 50%;
  margin-right: 10px
}
.dashborad .rightside-bar .blce-detail ul li:first-child {
  background-color: #F9F9FC;
  padding: 20px;
  border-radius: 20px;
}
.dashborad .rightside-bar .blce-detail ul li h5 {
  color: #282E39;
  font-size: 18px;
  margin: 0px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  text-align: left;
}
.dashborad .rightside-bar .blce-detail ul li h3 {
  margin: 30px 0px 0px;
  font-size: 35px;
  color: #282E39;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  text-align: left;
}
.dashborad .rightside-bar .blce-detail ul li h6 {
  margin: 0px 0px 0px;
  font-size: 12px;
  color: #282E39;
  font-weight: 600;
  text-align: left;
}
.dashborad .rightside-bar .blce-detail .frame-up li {
  width: auto;
  margin-right: 4px;
}
.dashborad .rightside-bar .blce-detail .frame-up ul li:first-child {
  padding: 0px;
}
.dashborad .rightside-bar .blce-detail .frame-up li a {
  padding: 5px 5px;
}
.dashborad .rightside-bar .blce-detail .frame-num ul {
  margin: 20px 0px 0px;
}
.dashborad .rightside-bar .blce-detail .frame-sec h5 {
  margin-top: 20px;
  text-align: center;
}
.dashborad .rightside-bar .blce-detail ul li .btn-dash {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blce-detail {
  margin-top: 50px;
}
.dashborad .rightside-bar .blce-detail ul li .btn-dash a {
  font-size: 13px;
  font-weight: 600;
  color: #282E39;
  font-family: 'Inter', sans-serif;
  text-decoration: inherit;
  background-color: #EBEBF2;
  padding: 12px 12px;
  border-radius: 8px;
}
.dashborad .rightside-bar .blce-detail ul li .btn-dash a:last-child {
  background-color: #fff;
  border: 1px solid #F3F3F3;
}
.dashborad .rightside-bar .blce-detail li .bln-left {
  display: flex;
  align-items: center;
  border: 1px solid #09987F;
  border-radius: 8px;
  padding: 0px 0px 0px 10px;
}
.dashborad .rightside-bar .blce-detail li .bln-left .bln-cnt h4 {
  font-size: 20px;
  font-weight: 600;
  font-family: 'PolySans Median';
  color: #282E39;
  margin: 0px;
  text-align: left;

}
.dashborad .rightside-bar .blce-detail li .bln-left .bln-cnt p {
  font-size: 11px;
  color: #282E39;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  text-align: left;
}
.dashborad .rightside-bar .blce-detail li .bln-left .bln-cnt a img {
  width: 38px;
  margin-left: 2px;
}
.dashborad .rightside-bar .blce-detail li .bln-left .bln-cnt a {
  background-color: #09987F;
  font-size: 12px;
  font-weight: 600;
  color: #FFFFFF;
  display: flex;
  border-radius: 40px;
  padding: 10px 0px;
  text-decoration: inherit;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-top: 10px;
}
.dashborad .rightside-bar .blce-detail li .bln-left .bln-img {
  background-color: #09987F;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 52%;
  margin-left: 20px;
  position: relative;
}
.dashborad .rightside-bar .blce-detail li .bln-left img.img1 {
  position: absolute;
  left: -30px;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.dashborad .rightside-bar .blce-detail li .bln-left img.img2 {
  width: 100%;
  position: relative;
  left: -20px;
}
.dashborad .rightside-bar .blce-detail li .bln-left .bln-img img.img4 {
  position: relative;
  right: -60px;
  bottom: 20px;
}
.dashborad .rightside-bar .blce-detail li .bln-left .bln-img img.img5 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 110%;
}
.payment-method {
  margin-top: 60px;
}
.payment-method h4 {
  color: #282E39;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  text-align: left;
}
.payment-method ul {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.payment-method ul h5 {
  font-size: 13px;
  font-weight: 700;
  color: #282E39;
  font-family: 'Inter', sans-serif;
}
.payment-method ul h5 span {
  color: #B3B4B6;
  display: block;
  font-weight: 700;
}
.payment-method ul img {
  height: 30px;
  width: 30px;
  object-fit: contain;
}
.payment-method ul li {
  background-color: #F9F9FC;
  width: 33%;
  padding: 20px;
  margin: 0px 10px;
  border-radius: 10px;
}


.frame-sec {
  max-width: 100%;
  margin: auto;
  border: 1px solid #09987F;
  border-radius: 30px;
  padding: 10px;
}
.frame-up ul {
  display: flex;
  justify-content: space-between;
}
.frame-up ul li a {
  display: flex;
  align-items: center;
  border: 1px solid #D8D9DC;
  font-size: 12px;
  font-weight: 400;
  color: #282E39;
  padding: 5px 15px;
  border-radius: 20px;
  text-decoration: inherit;
}
.frame-up ul li a h6 {
  margin: 0px;
  font-size: 12px;
  font-weight: 400;
  color: #282E39;
}
.frame-up ul li a img {
  margin-right: 4px;
}
.frame-up ul li a:hover {
  border: 1px solid #09987F;
  background-color: #E8F6EF;
}
.frame-sec h5 {
  font-size: 18px;
  font-weight: 700;
  color: #282E39;
  text-align: center;
  font-family: 'Inter', sans-serif;
      margin-bottom: 0px;
}
.frame-sec p {
  color: #282E39;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.frame-sec .frame-num ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}
.frame-sec .frame-num ul li {
  width: 33% !important;
  text-align: center;
  border: 1px solid #ECEDEF;
  margin: 0px 2px !important;
  padding: 10px !important;
  border-radius: 14px !important;
  color: #282E39;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
}
.frame-sec .frame-num ul li p {
  color: #7E8288;
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 0px;
}
.frame-sec .frame-num ul li:hover, .frame-sec .frame-num ul li:hover p {
  
 
}
.bar1 ul {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.bar1 ul li {
  text-align: center;
  padding: 0px 0px !important;
  z-index: 999;
  width: auto !important;
}
.bar1 ul li p {
  margin: 0px 0px 10px;
  font-size: 14px;
  color: #7E8288;
  font-family: 'Inter', sans-serif;
}
.bar1 ul li span {
  background-color: #E8F6EF;
  height: 34px;
  width: 34px;
  display: inline-block;
  line-height: 34px;
  text-align: center;
  border-radius: 40px;
  color: #09987F;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  position: relative;
}
.bar1 {
  margin-top: 20px;
}
.prop-bnr-img-container {
  margin-top: 100px;
}
.bar1 ul li span:after {
  content: '';
  height: 30px;
  width: 30px;
  position: absolute;
  border: 2px solid #09987F;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 30px;
}
.bar1 ul li h5 {
  font-family: 'Inter', sans-serif !important;
  margin: 10px 0px  !important;
  color: #282E39  !important;
  font-weight: 400  !important;
  font-size: 14px  !important;
}
.bar1 ul li.active p {
  font-weight: bold;
  color: #282E39;
}
.bar1 ul li.active span {
  background-color: #09987F;
  color: #fff;
}
.bar1 ul li.active span:after {
  border-color: #fff;
}
.bar1 ul:after {
  content: '';
  height: 2px;
  background-color: #09987f;
  width: 53%;
  position: absolute;
  top: 27%;
  transform: translateY(-50%);
}
.icon-sec li {
    list-style: none;
}
/****************Dashboard*****************/




/****************Scd-page*****************/
.property-bnr {position: relative; margin-bottom: 150px;}
.property-bnr:after {content: '';background-color: #0B1C19;height: 790px;width: 100%;position: absolute;top: -100px;}
.other-header .hdr-inr li a {color: #fff;}
.other-header .hdr-inr .icon-sec a {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}
.property-bnr .container {position: relative;z-index: 999;padding: 140px 0px 0px;text-align: center;}
.prop-bnr-title-btn h1 {font-size: 85PX;color: #FFF;font-family: 'PolySans Median';line-height: 85px;margin-bottom: 50px;font-weight: 600;}
.prop-bnr-title-btn h1 span {color: #09987F;}
.prop-bnr-title-btn .property-btn a {background-color: #09987F;height: 58px;display: inline-flex;line-height: 58px;font-size: 16px;padding: 0px 30px;font-weight: 600;text-decoration: inherit;color: #fff;border-radius: 50px;margin: 0px 10px;border: 1px solid rgb(255 255 255 / 30%);}
.prop-bnr-title-btn .property-btn a:last-child {background-color: transparent;}
.logo-sec.mt0 {margin-top: 0 !important;}
.property-icon-title h2 {margin-bottom: 40px; font-size: 54px;color: #282E39;font-weight: 600;text-align: center;}
.property-icon-title h2 span {color: #09987F;}
.prop-icn-sec {display: flex;align-items: center;justify-content: space-between;text-align: center;}
.prop-icn-sec img {width: 50%;height: 140px;object-fit: contain; margin: auto;}
.prop-icn-sec .pro-icn-div {width: 33%;padding: 0px 50px;}
.prop-icn-sec .pro-icn-div h4 {color:rgba(40, 46, 57, 1);font-size: 20px;font-weight: 600;margin: 30px 0px 10px; line-height: 20px;}
.prop-icn-sec .pro-icn-div p {color: #7E8288;font-size: 16px;font-weight: 400;}
.property-icon {margin-top: 200px;}
.poperty-detil-reviw {margin-top: 150px;}
.manage-review-main {display: flex;justify-content: space-between;align-items: center;}
.manage-review-main .manage-reviw-left, .manage-review-main .manage-reviw-right{width: 50%;    position: relative;}
.manage-review-main .manage-reviw-left h3 {font-size: 54px;color: #282E39;font-weight: 600;padding-right: 35%;line-height: 69px;margin-bottom: 60px;}
.manage-review-main .manage-reviw-left span {color: #09987F;}
.manage-reviw-left ul li {display: flex;align-items: flex-start;}
.manage-reviw-left ul li .manage-icn {width: 40px;}
.manage-reviw-left ul li .manage-icn img {background-color: #E8F6EF;height: 30px;width: 30px;border-radius: 50px;padding: 5px;}
.manage-reviw-left ul li .manage-cnt h6 {margin: 0px;color: #282E39;font-size: 20px; font-weight: 600;}
.manage-reviw-left ul li .manage-cnt p {font-size: 18px;font-weight: 400;color: #7E8288;    margin: 10px 0px 20px;}
.manage-reviw-left ul li .manage-cnt {width: 69%;padding-left: 10px}
.manage-review-main .manage-reviw-right .reviw {position: absolute;bottom: 20px;left: -60px;background-color: #fff;border: 1px solid #EAEAED;padding: 20px;border-radius: 20px;    width: 78%;}
.manage-review-main .manage-reviw-right .reviw img {background-color: #09987F;height: 40px;width: 40px;border-radius: 50px;padding: 12px;position: absolute;top: -20px;left: 40px; object-fit: contain;}
.manage-review-main .manage-reviw-right .reviw h6 {color: #282E39;font-size: 18px;margin: 0px;font-style: italic;font-weight: 600;}
.manage-review-main .manage-reviw-right .reviw p {font-size: 14px;font-weight: 400;color: #282E39;opacity: 0.6;}
.poperty-detil-reviw.prop-btm .manage-review-main {flex-direction: row-reverse;}
.poperty-detil-reviw.prop-btm .manage-review-main .manage-reviw-left {padding-left:11%;}
.prop-btm .manage-review-main .manage-reviw-left h3 {padding-right: 20%;}
.prop-btm .manage-reviw-right .reviw {right: -60px;left: auto;width: 92%;}
.prop-btm .manage-reviw-left ul li .manage-cnt {width: 100%;}
.poperty-detil-reviw.prop-btm {padding-bottom: 150px;}
.ftr-upr-main{background-color: #0b1c19;    padding-top: 70px;}
.ftr-upr {display: flex;align-items: center;}
.ftr-upr .ftr-title {width: 60%;text-align: left;}
.ftr-upr .ftr-title h2 {font-size: 113px;text-align: left;}
.ftr-upr .ftr-frm {width: 40%;}
.ftr-upr .ftr-frm form input {height: 50px;width: 44%;margin-bottom: 15px;background-color: #192928;border: 0px;color: rgb(255 255 255 / 50%);border-radius: 8px;padding-left: 10px;margin-right: 13px;font-size: 16px;}
.ftr-upr .ftr-frm form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:  rgb(255 255 255 / 50%);
}
.ftr-upr .ftr-frm form input::-moz-placeholder { /* Firefox 19+ */
  color:  rgb(255 255 255 / 50%);
}
.ftr-upr .ftr-frm form input:-ms-input-placeholder { /* IE 10+ */
  color:  rgb(255 255 255 / 50%);
}
.ftr-upr .ftr-frm form input:-moz-placeholder { /* Firefox 18- */
  color:  rgb(255 255 255 / 50%);
}
.ftr-upr .ftr-frm form textarea {height: 100px;width: 94%;margin-bottom: 15px;background-color: #192928;border: 0px;color: rgb(255 255 255 / 50%);border-radius: 8px;padding-left: 10px;margin-right: 13px;font-size: 16px;padding-top: 14px;}
.ftr-upr .ftr-frm form button {background-color: #09987F;border: 0px;height: 54px;width: 96%;border-radius: 7px;font-weight: 600;font-size: 18px;color: #fff;  cursor: pointer;}
.ftr-upr .ftr-frm form button:hover{background-color: #000;}
.ftr-upr-main-title {background-color: #0b1c19;padding-top: 40px;}
.ftr-upr-main-title .ftr-title {max-width: 1200px;margin: auto;}

/********************About*******************/
.abut-sec .abt-main-div {
  max-width: 59%;
  margin: 150px auto 0px;
  text-align: center;
}
.abut-sec .abt-main-div img {
  width: 90%;
  margin: 0px auto 10px;
}
.abut-sec .abt-main-div h3 {
  margin: 0px;
  font-size: 50px;
  line-height: 73px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  color: #282E39;
}
.abut-sec .abt-main-div img.arw {
  width: auto;
  margin: 110px auto 0px;
}
.abut-sec .abt-main-div h5 {
  font-size: 20px;
  font-weight: 600;
  color: #282E3999;
  opacity: 0.6;
  text-transform: uppercase;
  margin: 110px 0px 10px;
}
.abut-sec .abt-main-div p {
  padding-bottom: 100px;
  font-size: 32px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  color: rgba(40, 46, 57, 1);
  line-height: 46px;
}
.valu-abt {
  margin-top: 100px;
  text-align: center;
}
.valu-abt h2 {
  font-size: 74px;
  font-weight: 600;
  font-family: 'PolySans Median';
  color: #282E39;
}
.valu-abt h2 span {
  color: #09987F;
}
.valu-abt ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;;
}
.valu-abt ul li {
  width: 24%;
}
.valu-abt ul li h5 {
  font-size: 26px;
  font-weight: 600;
  color: #282E39;
   font-family: 'Inter', sans-serif;
  color: #282E39;
}


.wrk-blnce.bdr0 {
  border: 0 !important;
}
.bar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


.bar ul li {
  text-align: center;
  padding: 0px 10px;
  z-index: 999;
  width: 25%;
}
.bar ul li h5 {
  border: 1px solid transparent;
  padding: 4px 10px;
  border-radius: 5px;
  margin-top: 4px;
}
.bar ul li p {
  margin: 0px 0px 10px;
  font-size: 14px;
  color: #7E8288;
  font-family: 'Inter', sans-serif;
}
.bar ul li span {
  background-color: #E8F6EF;
  height: 32px;
  width: 32px;
  display: inline-block;
  line-height: 32px;
  text-align: center;
  border-radius: 40px;
  color: #09987F;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  position: relative;
}
.bar ul li span:after {
  content: '';
  height: 24px;
  width: 24px;
  position: absolute;
  border: 2px solid #09987F;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 30px;
}
.bar ul li h5 {
  font-family: 'Inter', sans-serif;
  margin: 10px 0px;
  color: #7E8288;
  font-weight: 400;
  font-size: 14px;
}
.bar ul li:first-child h5 {
  color: #282E39;
}
.bar ul li:nth-child(2) h5 {
  border: 1px solid rgba(40, 40, 35, 0.2);
  padding: 4px 0px;
  border-radius: 5px;
}
.wrk-blc-btn {
  margin-top: 20px;
}
.bar ul li.active p {
  font-weight: bold;
  color: #282E39;
}
.bar ul li.active span {
  background-color: #09987F;
  color: #fff;
}
.bar ul li.active span:after {
  border-color: #fff;
}
.wrk-blc-btn a {
  display: flex;
  align-items: center;
  height: 45px;
  width: 100%;
  background-color: rgb(9, 152, 127);
  line-height: 45px;
  text-align: center;
  justify-content: center;
  margin-left: 0px;
  border-radius: 6px;
  font-weight: 500;
  text-decoration: inherit;
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-transform: uppercase;
}
.wrk-blc-btn a img {
  width: 48px;
  margin: 0px 5px;
}
.bar ul li:after {
  content: '';
  height: 2px;
  background-color: #09987f;
  width: 68%;
  position: absolute;
  top: 42%;
  transform: translate(-50%,-50%);
  left: 0;
}
.bar.bar2 ul li:after {
  top: 42%;
}
.bar ul li:first-child span {
  background-color: #09987F;
  color: #E8F6EF;
}
.bar ul li:first-child span::after {
  border-color: #E8F6EF;
}
.wrk-detail-last {
  text-align: center;
  margin: 20px 0px;
}
.wrk-detail-last img {
  display: block;
  text-align: center;
  margin: 0px auto 30px;
}
.wrk-detail-last img:nth-child(2) {
  margin-bottom: 10px;
}
.bar.bar2 ul li:first-child h5 {
  font-weight: 600;
}
.bar.bar2 ul li:nth-child(2) h5 {
  border: 0;
}
.bar.bar2 ul li:first-child h5 {
  font-weight: 400;
}
.bar.bar2 ul li span {
  font-weight: 400;
}
.wrk-detail-last h4 {
  color: #282E39;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  margin-bottom: 0px;
}
.wrk-detail-last p {
  color: #7E8288;
  margin-top: 9px;
  display: block;
  line-height: 1;
  margin-bottom: 50px;
  font-size: 14px;
}
.abt-icn li img {
  margin:0px  auto 30px;
}
.abt-icn {
  margin-bottom: 80px;
  padding-bottom: 0px;
}
.Calendar_header__C0x8L button.Calendar_button__LW_cy {
  background-color: transparent !important;
  color: #ABABAB !important;
}
.Calendar_header__C0x8L{margin: 0px !Important;}

.Calendar_days__Yw21L {
  display: none !important;
} 
.Calendar_day__4unS_ {
  text-align: center;
  padding: 5px;
  cursor: pointer;
  height: 32px !important;
  width: 32px !important;
  line-height: 22px !important;
  font-size: 14px;
}

.Calendar_calendar__QKkLp.Calendar_visible__1zrxb {
  position: absolute;
  background-color: #fff;
  bottom: -15.8%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;
  width: 290px;
  border-radius: 10px;
  box-shadow: 0px 6px 24px 0px #0000000A;

}
.Calendar_day__4unS_.Calendar_selected__5z3le {
  background-color: #09987F !important;
}
.Calendar_day__4unS_.Calendar_beforeSeven__7cCJ9 {
  background: rgba(232, 246, 239, 1) !important;
}
.Calendar_day__4unS_.Calendar_afterSeven__2spHk {
  background: rgba(232, 246, 239, 1) !important;
}
.Calendar_day__4unS_.Calendar_selected__5z3le {
  font-weight: 700;
}
.Calendar_calendar__QKkLp.Calendar_visible__1zrxb:after, .Calendar_calendar__QKkLp.Calendar_visible__1zrxb:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.Calendar_calendar__QKkLp.Calendar_visible__1zrxb:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 11px;
  margin-left: -53px;
}
.Calendar_calendar__QKkLp.Calendar_visible__1zrxb:before {
  border-color: rgba(NaN, 174, 174, 0);
  border-bottom-color: #EAEAED;
  border-width: 13px;
  margin-left: -55px;
}
ul.num-up {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
ul.num-up li {
  border: 1px solid #D4D5D7;
  height: 47px;
  width: 45px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: #282E39;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
}
ul.num-up li.active {
  color: #fff;
  background-color: #09987F;
}
/* ul.num-up li:hover{
  color: #fff;
  background-color: #D4D5D7;
} */
/* styles.css */
.mobile-menu {
  display: none;
}

.mobile-menu.open {
  display: block;
}
header .hdr-inr button {
  display: none;
}
.blnk-in {
  padding: 10px 0px 10px 50px !important;
}
.blnce img {
  width: 60%;
  text-align: right;
  float: right;
}

.wrk-blnce.wrk-blnce3 {
  padding-bottom: 10px !important;
}
.wrk-detail-last img:first-child {
  width: 21%;
}
.bnr-cnt.mbl-sec {
  display: none;
}
.menu-bar .ftr-app {
  display: none;
}
.abt-logo-sec {
  background-color: #0B1C19;
  margin-top: 80px;
  padding: 150px 0px 30px;
  text-align: center;
}

.abt-logo-sec .abt-logo-title h3 {
  font-size: 40px;
  color: #fff;
  font-weight: normal;
  font-family: 'PolySans Median';
  line-height: 58px;
  margin-bottom: 40px;
  padding-top: 50px;
}

.abt-logo-sec .abt-logobtn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.abt-logo-sec .abt-logobtn a {
  background-color: #09987F;
  padding: 19px 40px;
  font-size: 18px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  display: inline;
  border-radius: 40px;
      margin: 0px 10px;
}

.abt-inr-logo {
  margin-top: 150px;
}

.abt-inr-logo h4 {
  color: #fff;
  font-size: 26px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  margin-bottom: 40px;
}

.abt-inr-logo ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.demo-mob {
  display: none;
}
.other-header .hdr-inr .icon-sec:hover a {
  color: #09987F;
}






/* Mobile styles */
.dashborad-mob {
  display: none; /* Hide on desktop */
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Set a higher z-index */
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1001; 
  width: 30%;
  position: relative;
}
.modal-content .item {
  display: flex;
  padding: 10px 20px 10px 20px;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.20);
  width: 90%;
  margin: 0px auto;
  text-align: center;
}
.modal-content button.modal-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.modal-content h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #282E39;
  font-family: 'Inter', sans-serif;
}
img.arrow1 {
  margin: 10px auto;
}
.modal-content .item h3 {
  color: #282E39;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}
.modal-content a {
  display: flex;
  align-items: center;
  height: 50px;
  width: 147px;
  background-color: #09987F;
  line-height: 50px;
  text-align: center;
  justify-content: center;
  border-radius: 40px;
  font-weight: 500;
  text-decoration: inherit;
  color: #fff;
  font-size: 16px;
  margin: 30px auto 0px;
}
.modal-content a:hover {
  background-color: #282e39;
}
.modal-content .item img {
	margin-bottom: 5px;
	object-fit: cover;
}
.home-header .icon-sec {
  width: 20%;
}
.home-header .logo {
  width: 20%;
}
.mission-head {
  max-height: 3rem; /* Adjust the maximum height as needed */
  overflow: hidden;
}

/* .mission-head {
  position: relative;
  z-index: 1000; 
}

.mission-text {
  position: relative;
  z-index: 1; 
} */
.dashborad {
  position: relative;
  margin-top: -60px !important;
}
.dashborad lottie-player#firstLottie {
  position: absolute;
  z-index: 9999;
  top: 23%;
  right: 12%;
  border-radius: 24px;
  width: 30% !important;
  height: 208px !important;
}
.wrf-right lottie-player {
  margin: auto;
}

.modal-open .main {
  filter: blur(12px);
}
.wrf-right{
  margin-top: 10px;
}
.step-ref{
  margin-top: -52px;
}
.modal-content .item img {
  height: 30px;
  width: 30px;
  object-fit: contain;
}
.main-bnr .bnr-cnt a.manage-btn:hover {
  background-color: #09987F;
  color: #E8F6EF;
  transition: all ease 0.5s;
}

@media screen and (max-width:1024px){

  .wek-main .wrf-right .wrk-detail {width: 87%;}
}




@media screen and (max-width:1199px){
  .main-bnr .bnr-cnt h1{font-size: 80px}    
  .icon-sec-div .icon-main img {height: 130px;width: 60%;}
  .icon-sec-div .icon-main{padding: 25px}
  .icon-sec-div {margin: 60px 0px 0px;}
  .how-it-work .wrk-left ul li {width: 100%;}
  .how-it-work .wrk-left ul li h4 {font-size: 20px;}
  .frm-detail .frm-left {padding: 20px 20px;}
  .ftr-app-btn{width: 33%}
  .prop-bnr-img img {width: 100%;}
  .manage-reviw-right img {width: 100%;}
  .prop-bnr-title-btn h1 {font-size: 75PX;}
  .ftr-upr .ftr-frm {width: 55%;}
  .ftr-upr .ftr-title h2 {font-size: 83px;}  
  .dashborad img {width: auto;}
  .dashborad .rightside-bar .blce-detail ul li .btn-dash a {padding: 6px 7px;}
  .home-header .logo, .home-header .icon-sec {width: 30%;}




}
@media screen and (max-width:991px){
 .main-bnr .bnr-cnt h1 { font-size: 65px;line-height: 65px;} 
 .bnr-cnt p {font-size: 20px;} 
  .main-bnr .bnr-cnt a.pay-btn {width: 158px;height: 50px;line-height: 50px;font-size: 16px;}
  .icon-sec-div .icon-main p {font-size: 13px;    min-height: 60px;}
  .icon-sec-div .icon-main img {height: 70px;}
  .how-it-work .how-work-title h2 {font-size: 50px;margin-bottom: 10px;}
  .how-it-work .wrk-left ul li h4 {font-size: 16px;margin: 0px;}
  .how-it-work .wrk-left ul li p {font-size: 15px;}
  .blnk-in {padding: 10px 40px;}
  .prop-bnr-title-btn h1 {font-size: 56PX;}
  .property-icon {margin-top: 100px;}
  .prop-icn-sec .pro-icn-div {width: 33%;padding: 0px 10px;}
  .manage-review-main .manage-reviw-left h3 {font-size: 44px;;padding-right: 0%;}
  .poperty-detil-reviw.prop-btm {padding-bottom: 90px;}
  .ftr-upr .ftr-title h2 {font-size: 64px;}
  .ftr-upr .ftr-frm form input {width: 42%;}
}
@media screen and (max-width:767px){
  /* Your styles.css or styles.module.css */
.toggle-icon {
  /* Customize the style as needed */
  
  font-size: 24px; /* Adjust the font size as needed */
  cursor: pointer; /* Add a pointer cursor for better UX */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  /* Add more styles if necessary */
}
.hdr-inr .menu-bar li.active a {
  color: #09987f !important;
  opacity: 9;
}


  .zoom-out-div {transform: scale(2.5);}
  header .icon-sec {display: none;} 
  .toggle span {height: 1px;width: 16px;background-color: #282E39;position: absolute;right: 10px;}
  .toggle span:after {content: '';height: 1.5px;width: 100%;background-color: #282E39;position: absolute;top: 6px;right: 0;}
  .toggle span {height: 1.5px;width: 100%;background-color: #282E39;position: absolute;top: 10px;}
  .toggle {height: 30px;width: 20px;position: relative;}
  .menu-bar ul {flex-direction: column;}
  .menu-bar {position: fixed;height: 100vh;width: 100%;background-color: #0B1C19;z-index: 9;top: 0;left: auto;right: -100%;transition: all ease 0.5s;    background-image: url(/images/11.png);background-repeat: no-repeat;background-position: right center;}
  header.main .menu-bar {right: 0;transition: all ease 0.5s;}
  .hdr-inr ul {display: flex;align-items: flex-start;justify-content: flex-start;height: 100%;margin-top: 180px;}
  .hdr-inr ul li a {font-size: 26px !important;line-height: 26px !important;font-weight: 600 !important;color: #fff !important;margin-bottom: 30px !important;display: block;}
  header.main .toggle {z-index: 9999;position: fixed;right: 20px;top: 40px;}
  header.main .toggle span {background: #fff;transform: rotate(45deg);}
  header.main .toggle span:after {transform: rotate(90deg);background-color: #fff;top: 0;}
  .hdr-inr .menu-bar li a:hover {color: #09987F;}
  .main-bnr {flex-direction: column;text-align: center;}
  .main-bnr .bnr-cnt {width: 100%;}
  .main-bnr .bnr-img img.img3, .main-bnr .bnr-img img.img2, .main-bnr .bnr-img img.img1 {display: none;}
  a.manage-btn.dsk {display: none !important;}
  a.manage-btn.mbl {background-color: #E8F6EF;margin-top: 0px;width: 30%;height: 32px;line-height: 32px;border-radius: 20px;padding: 0px 20px;color: #09987F;font-family: 'Inter', sans-serif;font-weight: 600;text-align: center;text-decoration: inherit;display: flex;align-items: center;justify-content: center; margin: auto}
  a.manage-btn.mbl img {width: auto;}
  .toggle {display: block;}
  .main-bnr .bnr-img {width: 100%;text-align: center;}
  .icon-sec-div {flex-wrap: wrap;}
  .icon-sec-div .icon-main {padding: 25px;width: 100%;}
  .icon-sec-div .icon-main img {height: auto;width: auto;}
  .how-it-work .how-work-title h2 {font-size: 40px;margin: 0;text-align: center;}
  .wek-main {flex-direction: column;}
  .wek-main .wrk-left, .wek-main .wrf-right {width: 100%;}
 .wek-main .wrf-right .wrk-detail {width: 95%;} 
  .app-main-sec {flex-direction: column;}
  .app-left-sec {flex-direction: column;}
  .logo-sec .slider1 img {width: 70% !important;height: auto !important;}
  .frm-detail {flex-direction: column;text-align: center;}
  .frm-detail .frm-left form input {width: 100%;}
  .frm-right-img {width: 100%;}
  footer .ftr-title h2 {font-size: 40px;}
  .ftr-app {flex-direction: column;text-align: center; }
  .ftr-app-btn {width: 63%;margin-top: 20px;}
   .ftr-btm {flex-direction: column;}
  body.property .toggle span, body.property .toggle span:after {background-color: #fff;}
  .manage-review-main {flex-direction: column;}
  .manage-review-main .manage-reviw-left, .manage-review-main .manage-reviw-right {width: 100%;position: relative;}
  .poperty-detil-reviw {margin-top: 0;}
  .manage-reviw-right {margin-top: 150px;}
  .manage-review-main .manage-reviw-right .reviw {bottom: auto;left: 50%;width: 78%;top: -70px;transform: translateX(-50%);}
  .poperty-detil-reviw.prop-btm .manage-review-main {flex-direction: column;}
  .poperty-detil-reviw.prop-btm .manage-review-main .manage-reviw-left {padding-left: 0%;}
  .prop-btm .manage-reviw-right .reviw {right: auto;left: 50%;width: 82%;}
  .ftr-upr {flex-direction: column;}
  .ftr-upr .ftr-title {width: 100%;text-align: left;margin-bottom: 40px;}
  .ftr-upr .ftr-frm {width: 100%;}
  .ftr-upr .ftr-frm form input {width: 45%;margin: 0px 6px 12px;}
  .ftr-upr .ftr-frm form textarea {width: 97%;}
  .valu-abt ul {
    flex-direction: column;
}
.valu-abt ul li {
  width: 100%;
  margin: 0px 0px 40px;
}
.valu-abt h2 {
  font-size: 40px;
} 
header .hdr-inr button {
  display: block;
}  
.container.false .menu-bar {
  right: 0;
  transition: all ease 0.5s;
}  
header .hdr-inr button {
  display: block;
  z-index: 99999;
  position: relative;
  color: #fff;
}
header .container.true button {
  COLOR: #000;
}
header .container.true button {
  COLOR: #000;
  POSITION: ABSOLUTE;
  RIGHT: 10px;
  FONT-SIZE: 20px;
}
header .container.false button {
  COLOR: #fff;
  POSITION: ABSOLUTE;
  RIGHT: 10px;
  FONT-SIZE: 20px;
}
/* header .container.true button:after {
  content: '\f00d ';
  font-family: Fontawesome;
  font-size: 20px;
  color: #000;
}
header .container.false button:after {
  content: '\f00d ';
  font-family: Fontawesome;
  font-size: 20px;
  color: #fff;
} */
.dashborad .leftside-bar {padding: 10px;}
.leftside-bar ul li span {font-size: 12px;padding-left: 7px;}
.dashborad { max-width: 100%;}
.dashborad .rightside-bar {width: 70%;padding: 10px;}
.dashborad .rightside-bar .user-detail h4 {font-size: 12px;}
.dashborad .rightside-bar .user-detail .usr-tool ul li a{    margin-left: 5px;}
.dashborad .rightside-bar .user-detail .usr-tool ul li a span {margin-left: 10px;font-size: 8px;text-align: left;}
.dashborad .rightside-bar .blce-detail ul li h5 {font-size: 12px;}
.dashborad .rightside-bar .blce-detail ul li h3 {
  font-size: 15px;
  margin: 10px 0px 0px;
}
.dashborad .rightside-bar .blce-detail ul li h6{
 font-size: 10px;;
}
.dashborad .rightside-bar .blce-detail ul li .btn-dash a {
  padding: 2px 4px;
  font-size: 10px;
}
.dashborad .rightside-bar .blce-detail li .bln-left .bln-cnt h4 {
  font-size: 13px;
  line-height: 13px;
}
.banner-sec {
  margin-top: 60px;
}
.icon-sec-div .icon-main p {
  font-size: 18px;
}
.icon-sec-div .icon-main {
  padding: 60px;
}
.ftr-title h2 {
  font-size: 28px;
  padding: 0px 30px 50px;
}
.copy-right p {
  margin-top: 10px;
  font-size: 14px;
}
.ftr-link ul li a{
  font-size: 14px;
}
.bnr-cnt.mbl-sec {
  display: block;
}
a.manage-btn.desktop--sec{
  display: none !important;
}

.bnr-cnt.mbl-sec a.manage-btn {
  margin: auto;
  font-size: 15px;
}
.main-bnr {
  padding-bottom: 0px;
}
.main-bnr.pt0 {
  padding: 0;
}
.container.false .logo {
  z-index: 999;
}
.property-bnr {
  margin-bottom: 100px;
  margin-top: 99px !important;
}
.property-icon {
  margin-top: 80px;
}
.manage-review-main .manage-reviw-right .reviw img {
  height: 30px;
  width: 30px;
  top: -10px;
  object-fit: contain;
  padding: 9px;
 
}
.poperty-detil-reviw.prop-btm .manage-review-main .manage-reviw-left {
  padding: 20px 0px 40px;
}
.manage-review-main .manage-reviw-left {
  margin: 80px 0px 40px;
}
.prop-bnr-title-btn .property-btn a {
  margin-bottom: 20px;
}
.dashborad {
  max-width: 100%;
  margin-top: -80px;
}
/* body.__className_e66fe9 header.other-header button img {
  filter: invert(1);
} */
.abut-sec .abt-main-div {
  max-width: 100%;
  margin-top: 200px;
}
.abut-sec .abt-main-div img {
  width: 60%;
}
.abut-sec .abt-main-div h5 {
  font-size: 14px;
}
.abut-sec .abt-main-div p {
  font-size: 20px;
  line-height: 25px;
}
.abut-sec .abt-main-div h3 {
  FONT-SIZE: 30PX;
}
button.menu-mobl {
  display: none !important;
}
.container.false button.menu-desk {
  display: none;
}
.container.false button.menu-mobl {
  display: block !important;
}
.container.false .menu-bar .ftr-app {
  position: absolute;
  bottom: 60px;
  width: 80%;
  text-align: left;
  border: 0px;
  padding: 0px !important;
}
.container.false .menu-bar .ftr-app h5 {
  width: 100%;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  padding: 0px 20px;
  line-height: 56px
}
.container.false .menu-bar .ftr-app .ftr-logo {
  width: 100%;
  padding: 0px 20px;
  line-height: 20px;
}
.container.false .menu-bar .ftr-app .ftr-logo p {
  width: 100%;
  text-align: left;
}
.container.false .menu-bar .ftr-app .ftr-app-btn {
  margin-top: 60px;
}
header {
  z-index: 99999;
}
.menu-bar .ftr-app {
  display: block;
}
.dashborad .rightside-bar .blce-detail ul {
  flex-direction: column;
}
.dashborad .rightside-bar .blce-detail li {
  width: 100%;
  margin-right: 10px;
}
.dashborad .rightside-bar .blce-detail li {
  width: 100%;
  margin-right: 10px;
  margin-bottom: 10px;
}
.dashborad .rightside-bar .blce-detail .frame-sec ul {
  flex-direction: row;
}
.dashborad .rightside-bar .blce-detail .frame-up li a {
  padding: 5px 5px;
}
.dashborad .rightside-bar .blce-detail .frame-sec ul li:first-child img {
  width: 17px;
}
.dashborad .rightside-bar .blce-detail ul li h6 {
  font-size: 9px;
}
.frame-sec .frame-num ul li {
  font-size: 14px;
}
.payment-method ul li {
  background-color: #F9F9FC;
  width: 33%;
  padding: 0px;
  margin: 20px 6px;
  border-radius: 10px;
}
.payment-method ul h5 {
  font-size: 11px;
}
.payment-method {
  margin-top: 10px;
}
.blce-detail {
  margin-top: 20px;
}

.blce-detail {
  margin-top: 0;
}
.dashborad .rightside-bar .blce-detail ul li:first-child {
  background-color: transparent;
}
.dashborad .rightside-bar .blce-detail ul li h5 {
  font-size: 15px;
  text-align: center;
}
.dashborad .rightside-bar .blce-detail ul li h3, .dashborad .rightside-bar .blce-detail ul li h6, .dashborad .rightside-bar .blce-detail ul li .btn-dash {
  display: none;
}
.payment-method h4 {
  text-align: center;
}
.payment-method ul {
  flex-direction: column;
}
.payment-method ul li {
  width: 60%;
  margin: 10px auto 10px;
  text-align: center;
}
.dashborad .rightside-bar .user-detail h4 {
  font-size: 18px;
}
.dashborad .usr-tool li img {
  width: 23px;
}
.dashborad .leftside-bar ul {
  display: none;
}
.dashborad .rightside-bar {
  width: 100%;
}
.dashborad {
  flex-direction: column;
}
.dashborad .rightside-bar .user-detail .usr-tool {
  display: none;
}
.dashborad .rightside-bar .user-detail .user-name {
  width: 100%;
}
.dashborad .leftside-bar {
  padding: 10px;
  width: 100%;
}
.dashborad img {
  width: auto;
  margin: auto;
  margin-top: 46px;
}
.dashborad .leftside-bar {
  background-color: transparent;
}
.modal-content {
  width: 90%;
  text-align: center;
}
.modal-content .item {
  width: 90%;
  padding: 10px 10px 10px 10px;
}
.modal-content .item h3 {
  font-size: 15px;
}
/* ******************** */
/* New css with sr custom */

.dashborad .rightside-bar {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
}
.dashborad .leftside-bar {
	padding-top: 50px;
}
.dashborad .rightside-bar .user-detail {
	padding-right: 0;
}
.payment-method {
	margin-top: 20px;
}
.payment-method ul li:nth-child(2) {
	display: none;
}
.payment-method ul li {
	width: 100%;
	padding: 20px 10px;
	max-width: 300px;
}
.dashborad .rightside-bar .blce-detail li {
	width: 100%;
	margin-right: 0;
	margin-bottom: 10px;
}
/* .animated-element {
  margin: 50vh 0;
  padding: 20px;
  color: #fff;
  font-size: 24px;
  text-align: center;
  opacity: 1;
} */

}
@media screen and (max-width:567px){
  .ftr-logo img {
    margin: auto;
}
/* .dashborad {
  display: none; 
}

.dashborad-mob {
  display: block;  font-weight: 600
} */
.dashborad {
	margin-top: 0;
}

  .main-bnr .bnr-cnt h1 {font-size: 50px;line-height: 55px;font-weight: normal;width: 100%;margin: 0px auto 10px;}  
  .main-bnr .bnr-cnt a.pay-btn {margin-top: 20px;margin-bottom: 20px;}    
  a.manage-btn.mbl {width: 52%;} 
  .wek-main .wrf-right .wrk-detail {width: 82%;}
  .app-left-sec h4 {margin: auto;text-align: center;font-size: 20px;}
  .app-left-sec h4 span {font-size: 16px;line-height: 15px;margin: 20px 0px;}
  .app-main-sec {flex-direction: column; padding: 30px 0px;margin: 90px auto 0;}
  .app-right-sec a {font-size: 14px;margin: 0px 3px;}
  .wek-main .wrf-right .wrk-detail {width: 100%;}
  .frm-detail .frm-left h3 {font-size: 22px;}
  .frm-detail .frm-left p {font-size: 16px;line-height: 23px;}
  .frm-detail .frm-left form button {width: 40%;}
  footer .ftr-title h2 {font-size: 28px;}
  .ftr-app-btn {width: 100%;}
  .property-bnr .container {padding: 0px;}
  .prop-bnr-title-btn h1 {font-size: 54PX;text-align: left;line-height: 54px;margin-top: 50px; font-weight: normal;}
  .prop-bnr-title-btn {padding: 0px 20px;}
  .property-btn {display: flex;justify-content: flex-start;align-items: flex-start;flex-direction: column;}
  .property-btn a {margin-left: 0 !important;}
  .property-bnr:after {height: 600px;}
  .property-icon-title h2 {font-size: 38px;}
  .prop-icn-sec {flex-direction: column;}
  .prop-icn-sec .pro-icn-div {width: 100%;padding: 0px 10px 50px;}
  .manage-review-main .manage-reviw-left h3 {font-size: 38px; line-height: 38px; }
  .manage-reviw-left ul li .manage-cnt h6{font-size: 18px}
  .manage-reviw-left ul li .manage-cnt p {font-size: 16px;}
  .manage-reviw-left ul li .manage-cnt {width: 100%;}
  .manage-reviw-right {margin-top: 90px;}
  .manage-review-main .manage-reviw-right .reviw h6 {font-size: 16px;}
  .ftr-upr .ftr-title h2 {font-size: 58px; padding: 0px; font-weight: normal;}
  footer {padding: 40px 0px 40px;}
  .ftr-upr .ftr-frm form input {width: 47%;margin: 0px 4px 13px;}


.abt-inr-logo ul {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.abt-inr-logo ul li img {
  width: 100%;
}
.abt-inr-logo ul li {
  width: 43%;
  padding: 0px 10px 40px;
} 
.abt-inr-logo {
  margin-top: 110px;
}
.abt-logo-sec .abt-logobtn a {
  padding: 12px 16px;
}    
.abt-logo-sec .abt-logo-title h3 {
  font-size: 28px;
  line-height: 40px;
  padding-bottom: 20px;
  padding-top: 35px;

}
/* .abt-logo-sec {
  padding: 50px 0px;
} */
.abt-logo-sec {
  background-color: #0B1C19;
  margin-top: -17px;
  padding: 150px 0px 30px;
  text-align: center;
}
footer {
  margin-top: -1px;
}
.ftr-app {
  padding-top: 40px;
}
.ftr-title h2 {
  padding: 0px 30px 0px;
  font-weight: normal;
}
.prop-bnr-img-container {
  margin-top: 30px;
}
.demo-mob{
  display: block;
}
.demo{
  display: none;
}
.demo-mob {
  display: block;
}
.how-it-work .how-work-title h2{
  line-height: 40px;
  text-align: left;
  font-size: 38px;
  font-weight: normal;
}
.how-it-work .wrk-left ul li {
  margin-top: 60px;
  border: 0;
  margin-bottom: 0px;
  padding-bottom: 30px;
}
.how-it-work .wrk-left ul li:nth-child(5) {
  margin-top: 55px;
}
.bar.bar2 ul li {
  margin: 0px;
}
.bar ul:after {
  content: '';
  height: 2px;
  width: 80%;
  background-color: #09987f;
  position: absolute;
  top: 37px;
}
.how-it-work .wrk-left ul.num-up li {
  padding: 0px;
  width: 18%;
  margin: 0px 6px;
  border-radius: 10px;
}
.bar li {
  margin: 0 !important;
}
.how-it-work .wrk-left ul li h6 {
  color: #09987F;
  opacity: 9;
}
 .how-it-work .wrk-left ul li h4 {
  opacity: 9;
}
.check-blnce label.blnk-in.apply-styles .checkmark {
  background-image: url(/images/Ellipse93.png) ;
  position: absolute;
  top: 20px;
  left: 10px;
  height: 25px;
  width: 25px;
  border: 1px solid #B0B0C0;
  border-radius: 50%;
  background-position: center;

}
.abt-logo-title {
  padding: 0px 10px;
}
.dashborad-mob {
  display: block;
}
img.dsk-top {
  display: none;
}
.dashborad lottie-player#firstLottie {
  position: absolute;
  z-index: 9999;
  border: 0px solid !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  top: 34.5%;
  right: -2%;
  border-radius: 9px;
  width: 28% !important;
  height: 64px !important;
  transform: translateX(-50%);
}
header.scrolled {
  
  position: fixed;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  &.fixed {
    position: fixed;
    top: 0;
  }
}
/* padding-top: 10px; */
.wek-main .wrf-right lottie-player {
  width: 100% !important;
}
.main-bnr .bnr-cnt h1 span {
  display: block;
}
.modal-open .main {
  filter: blur(12px);
  overflow: hidden;
}
/* top: 20px; */
header{

  position: fixed;
  background-color: white;
}
.gsap-marker-start, .gsap-marker-end {
  position: fixed !important;
}
.gsap-marker-scroller-end {
  position: fixed !important;
}
header .hdr-inr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}
.other-header{
  background-color: #0B1C19;
}
.slick-track {
  width: 26910px;
  opacity: 1;
  transform: translate3d(-552px, 0px, 0px);
  transition: -webkit-transform 5000ms linear 0s;
}
button#menu-desk img {
  width: 20px;
}

body, html {
  overflow: auto; 
}
.how-it-work .wrk-left ul li h4 {
  font-size: 21px;
  margin: 0px;
  line-height: 31px;
}
.how-it-work .wrk-left ul li p {
  font-size: 18px;
  /* opacity: 9; */
}
}

