/* styles/fonts.css */

@font-face {
    font-family: 'PolySans';
    src: url('/fonts/PolySans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Add more font-face rules for other variations if needed */
  